 #offer {
            text-align: center;
            height: 600px;
            margin: 0%;
            padding: 0%;
            margin-bottom: 100px;
        }
        
        #footers {
            background-color: rgb(41, 43, 61);
            align-items: center;
            text-align: center;
            padding: 2%;
            height: 100px;
            width: 97%;
            color: white;
        }
        
        .flex {
            display: flex;
        }
        
        #info>.flex>div {
            width: 20%;
            align-items: center;
            height: 35%;
            margin: 1%;
            margin-left: 12%;
        }
        
        .size {
            height: 100px;
            width: 100px;
        }
        
        button {
            outline: none;
            border: none;
            cursor: pointer;
        }
       
        
        body {
            font-family: "arial";
        }